.hello {
  color: red;
}

.refreshIcon {
  content: url('../images/refresh.png');
}

.enterIcon {
  content: url('../images/enter.png');
}

.verticalDots {
  content: url('../images/verticalDots.png');
}

.element {
  min-height: 45px;
}

.rightShadow {
  box-shadow: 8px 1px 9px 1px rgb(235, 234, 234);
}

.fullShadow {
  background-color: rgb(243, 244, 244);
  box-shadow: 8px 5px 9px 1px rgb(235, 234, 234);
  color: rgb(156, 156, 157);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 15px;
}

input[type=checkbox]:checked + input {
  text-decoration: line-through;
}

.hover:hover {
  color: black;
  text-decoration: underline;
}
